* {
    box-sizing: border-box;
    display: block;
}

.container{
        width: 100%;
        margin: 0 auto;  
        position:relative;
}

.row{
    min-height:150px;
    display: flex;
    width: 100%;
}

[class*='col-'] {
    align-items: stretch;
    position: relative;
    
    min-height: 10px; 
    width: 16.66%; 
    /*-- dentro de la col: -- */
    background-color: lightblue;
    border: 1px solid black;
    align-content: center;
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }

.outline, .outline *{
    outline: 1px solid gray; 
}

/*-- para los P dentro de las col --*/
[class*='col-'] > p {
    padding: 0;
    margin: 0;
    text-align: center; 
    color: white;   
}


img:hover{
    opacity: 0.8;
}
img{
max-width:100%;
    max-height:100%;
    object-fit: contain;
}



.screen {
	background-color: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
	border-radius: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: 0;
	z-index: 1000;
}
.screen:hover {
  opacity: 1;
  }

.title {
  color: blue;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  margin-left: 30px; 
}

.atravezado{
  overflow-x: show;
  z-index:1001;
}